{% extends "-public_layout_new.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
    <meta name="description" content="Logiciel de gestion d'entretien pour copropriétés au Québec.">
    <meta name="keywords" content="gmao, carnet d'entretien, carnet entretien, entretien copropriété, gestion d'entretien, logiciel entretien">
    <!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZZ8SZVD5E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3ZZ8SZVD5E');
</script>
<body >
<style>
    html, body {
  height: 100%;
}
.container, .row.justify-content-center.align-items-center {
  flex: 1; /* additionally, equal width */
}
  height: 100%;
  min-height: 100%;
}
</style>
<div class="container">
        <div class="row mb-1 col-12">
            <p style="font-size: 2.5vw;" class="mb-1"><u>Carnet d'entretien en copropriété</u></p>
        </div>
        <div class="row mb-1 col-12">
            <h1 style="font-size: 5vw;">Facilitez le suivi des interventions</h1>
        </div>
        <div class="row mb-4">
            <div class="col-8 col-sm-8 col-lg-6 mr-0 pr-0">
                <p style="font-size: 2.8vw;"><b>CondoFix</b> est un système de gestion d'entretien intuitif et facile à utiliser pour les administrateurs d'un syndicat de copropriété.</p>
                <p style="font-size: 2vw;">Au lieu de dépendre des fonctionnalités limitées de votre <a href="{{ url_for('bp_public.comptable') }}">système comptable</a> actuel ou
                    d'un <a href="{{ url_for('bp_public.agenda') }}">agenda partagé</a> pour faire le suivi du carnet d'entretien, optez pour
                l'environnement de CondoFix, adapté aux besoins des copropriétés du Québec.</p>
                <a style="font-size: 1.5vw;" href="{{ url_for('bp_public.produits') }}"><b>Voir nos offres</b></a>
                <div class="row mt-2">
                    <div class="col-12">
                      <a class="btn-lg text-black text-center btn-warning btn-rounded my-2" style="font-size: 2.5vw;" role="button" href="{{ url_for('bp_public.video_infos') }}">Vidéo 3 min.</a>
                      <a class="btn-lg text-white text-center btn-danger btn-rounded my-2" style="font-size: 2.5vw;" role="button" href="{{ url_for('bp_public.demo') }}">Essai gratuit</a>
                    </div>
                </div>
            </div>
            <div class="col-4 col-sm-4 col-lg-6">
                <img  class="img-fluid float-right" src="../static/PC_Smartphone.png"/>
                <p class="text-center" style="font-size: 1.3vw;"><small>CondoFix fonctionne avec votre navigateur sur PC, tablette et smartphone</small></p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-6" style="padding: 10px; border: 1px solid black;">
                <img  class="img-fluid float-right mb-2" src="../static/photo_Urbano_1.png"/>
                <div>
                    <span class="heading" style="font-size: 3vw;"><i>"Très satisfait"</i></span>
                    <br>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                </div>
                <br>
                <div>
                    <h6 style="font-size: 1.4vw;">"CondoFix permet aux administrateurs de faire un suivi détaillé des activités d'entretien de notre copropriété
                    tout en offrant aux copropriétaires un portail pour consulter la documentation du syndicat ainsi que l'état du budget d'entretien
                    et du fonds de prévoyance.</h6>
                    <h6 style="font-size: 1.4vw;">Nous sommes très satisfaits des performances du logiciel et du processus d'implantation."</h6>
                    <p class="mb-0" style="font-size: 1.4vw;">Alain Dubois, administrateur responsable de l'entretien</p>
                    <i style="font-size: 1.4vw;">Syndicat des copropriétaires Urbano</i>
                </div>
            </div>
            <div class="col-6" style="padding: 10px; border: 1px solid black;">
                <img  class="img-fluid float-right mb-2" src="../static/urbano-condos-foins_1.jpg"/>
                <div>
                    <span class="heading" style="font-size: 3vw;"><i>"Très facile à utiliser"</i></span>
                    <br>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star checked" style="color:orange"></span>
                    <span class="fa fa-star-half-o" style="color:orange"></span>
                </div>
                <br>
                <div>
                    <h6 style="font-size: 1.4vw;">"Au moment où j’étais coprésidente du CA du syndicat de copropriété,
                        nous avons choisi d’implanter CondoFix pour la gestion de l’entretien de notre copropriété, car il répondait
                        très bien à nos besoins. Le logiciel est simple d’utilisation tout en fournissant les données vitales
                        pour notre carnet d’entretien et notre fonds de prévoyance."</h6>
                    <br>
                    <p class="mb-0" style="font-size: 1.4vw;">Colette Deaudelin, présidente sortante</p>
                    <i style="font-size: 1.4vw;">Syndicat d'une copropriété de 91 unités</i>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="row container bg-steel text-white rounded mx-2">
                <div class="col-8 mt-2">
                    <p style="font-size: 3vw;"><b>Planifiez les interventions du concierge et des fournisseurs</b></p>
                    <p style="font-size: 2vw;"><small>Les bons de travail (tickets) sont suivis par le système tout au cours de leur évolution.</small></p>
                </div>
                <div class="col-4 my-3">
                    <img  class="img-fluid" src="../static/Bienvenue_1.png"/>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="row container bg-steel text-white rounded mx-2">
                <div class="col-4 mt-4">
                    <img  class="img-fluid" src="../static/Bienvenue_2.png"/>
                </div>
                <div class="col-8 mt-2">
                    <p style="font-size: 3vw;"><b>Suivez les dépenses d'entretien par catégorie et par budget</b></p>
                    <p style="font-size: 2vw;"><small>Les dépenses sont cumulées pour l'année budgétaire en cours et
                        les 12 catégories ayant le plus de dépenses sont affichées avec le nombre de tickets émis</small></p>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="row container bg-steel text-white rounded mx-2">
                <div class="col-8 mt-2">
                    <p style="font-size: 3vw;"><b>Coordonnez l’entretien préventif</b></p>
                    <p style="font-size: 2vw;"><small>Le carnet d'entretien soumis par le consultant est intégré à CondoFix et les tickets d'entretien préventif sont automatiquement générés au moment prévu</small></p>
                </div>
                <div class="col-4 my-3">
                    <img  class="img-fluid" src="../static/Bienvenue_4.png"/>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="row container bg-steel text-white rounded mx-2">
                <div class="col-4 mt-4">
                    <img  class="img-fluid" src="../static/Bienvenue_3.png"/>
                </div>
                <div class="col-8 mt-2">
                    <p style="font-size: 3vw;"><b>Sachez quand remplacer un équipement</b></p>
                    <p style="font-size: 2vw;"><small>Un identifiant d'équipement peut être attribué à
                        chaque ticket, ce qui permet aux administrateurs de déceler les équipements à considérer pour un remplacement</small></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <br>
                <div class="row">
                    <div class="col-4">
                        <img  class="img-fluid" src="../static/MemoireCollective.png"/>
                    </div>
                    <div class="col-8">
                        <h4 style="font-size: 3vw;">Développer sa mémoire collective</h4>
                        <p style="font-size: 1.7vw;">Les conseils d'administration de copropriété connaissent un roulement assez élevé de leurs administrateurs ce qui présente des défis importants
                            quant à la rétention de l'historique des réparations en vue de prendre des décisions éclairées.</p>
                        <p style="font-size: 1.7vw;">Ainsi, CondoFix agit comme <b>mémoire collective</b> des activités effectuées sur les différents équipements pour les futurs administrateurs et gestionnaires.
                        </p>
                    </div>
                </div>
                <div class="row col-12">
                    <p style="font-size: 1.7vw;">Le système de gestion d'entretien CondoFix fut développé au Québec par un administrateur de copropriété:</p>
                    <ul style="font-size: 1.7vw;">
                        <li>système éprouvé dans une grande copropriété avec des équipements complexes</li>
                        <li>tient compte de la réglementation et des particularités du Québec</li>
                        <li>portail des copropriétaires pour consulter la documentation, les contacts, l'état du fonds de prévoyance et la situation budgétaire (Carnet Plus)</li>
                        <li>les réservations peuvent aussi être affichées pour les copropriétaires (module optionnel avec Carnet Plus)</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-12 mt-3" style="padding: 10px; border: 1px solid black;">
                        <p style="font-size: 2.5vw;"><b>Comparez CondoFix avec d'autres fournisseurs de logiciel:</b></p>
                        <style>
                        .image {
                        display: inline-block;
                        }

                        </style>

                        <!-- Begin SF Tag -->
                        <div class="sf-root" data-id="3526123" data-badge="customers-love-us-white" data-variant-id="sf" style="width:125px; display: inline-block;">
                            <a href="https://sourceforge.net/software/product/CondoFix/" target="_blank">CondoFix Reviews</a>
                        </div>
                        <script>(function () {var sc=document.createElement('script');sc.async=true;sc.src='https://b.sf-syn.com/badge_js?sf_id=3526123&variant_id=sf';var p=document.getElementsByTagName('script')[0];p.parentNode.insertBefore(sc, p);})();
                        </script>
                        <!-- End SF Tag -->
                        <a href="https://www.capterra.com/p/237116/CondoFix/">
                        <img  class="img-fluid inline-block" style="display: inline-block" src="../static/Capterra_logo.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary btn-rounded my-4" role="button" href="{{ url_for('bp_public.demande_info') }}">En savoir plus</a>
    </div>
</div>
</body>
{% endblock content %}