<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
    <!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
</head>
<header class="site-header">
    <nav class="navbar navbar-dark bg-steel fixed-top">
        <a class="navbar-brand" href="#">
            <img src="../static/ToolsIcon.png" alt="Logo" style="padding: 10px;"width="45" height="45">CondoFix
            <!--            <div class="container">-->
            <!--                <div class="navbar-nav">-->
            <!--                    <img src="../static/ToolsIcon.png" alt="Logo" style="padding: 10px;"width="45" height="45">-->
            <!--                    <a class="navbar-brand mr-4" href="#"><span class="mb-0 h2">Gestick</span></a>-->
            <!-- Navbar Right Side -->
    </nav>
</header>
<body>
<div class="container bg-light">
        <div class="col-md-12 text-center mb-30">
            <img  class="img-fluid mb-4" style="margin:0px; padding:0px;" src="../static/Desole.jpg"/>
            <br>
            <h3>Désolé!</h3>
            <br>
            <h5>Un problème a été détecté dans CondoFix et un avis a été expédié au support technique.</h5>
            <br>
            <a class="btn btn-primary btn-rounded text-white"  onclick="javascript:history.back()">Continuer</a>
        </div>
</div>
</body>