<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
    <!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
</head>
<header class="site-header">
    <nav class="navbar navbar-dark bg-steel fixed-top">
        <a class="navbar-brand" href="#">
            <img src="../static/ToolsIcon.png" alt="Logo" style="padding: 10px;"width="55" height="55">CondoFix
        </a>
    </nav>
</header>
<body>
<div style="display: flex; justify-content: center;">
    <img src="../static/Maintenance.png">
</div>
</body>