{% extends "-public_layout_new.html" %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modules de la plateforme d'entretien CondoFix</title>
    <meta name="description" content="Logiciel de gestion d'entretien pour copropriétés au Québec.">
    <meta name="keywords" content="gmao, carnet d'entretien, carnet entretien, entretien copropriété, gestion d'entretien, logiciel entretien">
    <!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
<style>
.anchor{
  scroll-margin-top: 80px;
}
</style>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
<!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIconSmall.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container col-md-10">
    <h1>Politique de confidentialité</h1>
    <div><br></div>
    <div><strong>Introduction</strong></div>
    <div>Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention
        particulière à la protection de la vie privée. C’est pourquoi, nous nous engageons à respecter la confidentialité
        des renseignements personnels que nous collectons.</div>
    <div><br></div>
    <h2>Collecte des renseignements personnels</h2>
    <div>Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à
        l’interactivité établie entre vous et notre site Web. <strong>Nous n'utilisons pas de cookies liés à la navigation web.</strong>
    </div>
    <div><br></div>
    <h3>Formulaires&nbsp;et interactivité</h3>
    <div>Vos renseignements personnels sont collectés par le biais de formulaires, à savoir :
    </div>
    <div><b>Formulaire de contact</b>
        <ul>
            <li>Nom du syndicat de copropriété</li>
            <li>Nombre de portes du syndicat</li>
            <li>Nom du contact</li>
            <li>Téléphone du contact</li>
            <li>Adresse courriel du contact</li>
            <li>Rôle du contact vis à vis le syndicat</li>
        </ul>
    </div>
    <div><b>Formulaire de demande de visionnement de vidéo ou d'essai</b>
        <ul>
            <li>Nom du syndicat de copropriété</li>
            <li>Nombre de portes du syndicat</li>
            <li>Téléphone du contact</li>
            <li>Adresse courriel du contact</li>
        </ul>
    </div>
    <div>De même, votre interactivité avec le site web est mesurée à l'aide de votre adresse IP et de la ville de provenance de
        votre fournisseur Internet.
    </div>
    <div><br></div>
    <div>Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
    </div>
    <div>
        <ul>
            <li>Informations / Offres promotionnelles</li>
            <li>Statistiques</li>
            <li>Contact</li>
        </ul>
    </div>
    <div><br></div>
    <h2>Droit d’opposition et de retrait</h2>
    <div>Nous nous engageons à vous offrir un droit d’opposition et de retrait quant à vos renseignements personnels.
    </div>
    <div>Le droit d’opposition s’entend comme étant la possiblité offerte aux internautes de refuser que leurs
        renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.
    </div>
    <div>Le droit de retrait s’entend comme étant la possiblité offerte aux internautes de demander à ce
        que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.
    </div>
    <div><br></div>
    <div><strong>Pour pouvoir exercer ces droits, vous pouvez vous adresser à:</strong></div>

    <div>Code postal :&nbsp; J1J0B1</div>
    <div>Courriel :&nbsp; condofix.ca@gmail.com</div>
    <div>Téléphone :&nbsp; 819-620-3167</div>
    <div><br></div>
    <h2>Droit d’accès</h2>
    <div>Nous nous engageons à reconnaître un droit d’accès et de rectification aux personnes concernées
        désireuses de consulter, modifier, voire radier les informations les concernant.
    </div>
    <div><br></div>
    <div><strong>L’exercice de ce droit se fera à:</strong></div>
    <div>Code postal :&nbsp; J1J0B1</div>
    <div>Courriel :&nbsp; condofix.ca@gmail.com</div>
    <div>Téléphone :&nbsp; 819-620-3167</div>
    <div><br></div>
    <h2>Sécurité</h2>
    <div>Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé.
        Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.
    </div>
    <div>Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :
    </div>
    <div>
        <ul>
            <li>Protocole SSL</li>
            <li>Gestion des accès - personne autorisée</li>
            <li>Sauvegarde informatique</li>
            <li>Identifiant / mot de passe</li>
        </ul>
    </div>
    <div>Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations
        technologiques permettant d’assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme
        n’offre une sécurité maximale, une part de risque est toujours présente lorsque l’on utilise Internet pour
        transmettre des renseignements personnels.
    </div>
    <div><br></div>
    <h2>Législation</h2>
    <div>Nous nous engageons à respecter les dispositions législatives énoncées dans la loi 25 promulguée dans la Province de Québec</div>
    <div><br></div>
</div>
</body>

{% endblock content %}
