{% extends "-public_layout_new.html" %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CondoFix</title>
    <meta name="description" content="Logiciel de gestion d'entretien pour copropriétés au Québec.">
    <meta name="keywords" content="gmao, carnet d'entretien, carnet entretien, entretien copropriété, gestion d'entretien, logiciel entretien">
    <!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZZ8SZVD5E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3ZZ8SZVD5E');
</script>
<body >
<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 60%;
    height: 60%;
  }
  .carousel-inner {
    background-color: #ffc107;
    min-width: 100%;
    margin-top: 1.5rem !important;
  }
  .mt-n1 {
  margin-top: -0.75rem !important;
}
  .mb-n1 {
  margin-bottom: -1rem !important;
}
  .mt-car {
  margin-top: 9rem !important;
}
  .mb-car {
  margin-bottom: 9rem !important;
}
    html, body {
  height: 100%;
}
  .container-carousel {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

</style>
<div class="container-carousel">
    <br>
    <div class="row align-items-center bg-warning mt-5 mb-2">
        <div class="col-auto">
            <a class="h1" href="#carouselExampleControls" role="button" data-slide="prev">
                <span>&lt;</span>
            </a>
        </div>
        <div class="col">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="8000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h2 class="text-center mb-4">Plus qu'un carnet d'entretien</h2>
                        <div class="row align-items-center">
                            <div class="col-6 text-white text-center">
                                <h4 class="mb-2">Inclus avec CondoFix:</h4>
                                <ul class="text-small">
                                  <li style="font-size:13px">3 accès (administrateur/CA/employé)
                                  <li style="font-size:13px">Gestion des tickets (interventions)</li>
                                  <li style="font-size:13px">Calendrier d'entretien</li>
                                  <li style="font-size:13px">Génération automatique de tickets</li>
                                  <li style="font-size:13px">Historique des entretiens</li>
                                  <li style="font-size:13px">Exportation vers Excel</li>
                                  <li style="font-size:13px">Tableau de bord</li>
                                  <li style="font-size:13px">Rapport d’activité autogénéré</li>
                                  Lecture OCR/numérisation de factures</dt>
                                  <dt>Sauvegarde des images de facture</dt>
                                  <dt>Historique des entretiens</dt>
                                  <dt>Exportation vers Excel</dt>
                                  <dt>Analyse des dépenses annuelles</dt>
                                  <dt>Aide (documentation/courriel)</dt>
                                  <li style="font-size:13px">Aide (documentation/courriel)</li>
                                </ul>
                                <div class="text-center">
                                <p class="text-white"><small>* Plus tarif de base de 20$ par mois</small></p>
                                <a class="btn btn-warning btn-rounded mt-2 mb-3" role="button" href="{{ url_for('bp_public.tarifs',produit=1) }}"><b>Calculer mon tarif</b></a>
                                </div>
                            </div>
                            <div class="col-6">
                              <h1 class="text-white m-n3"><b>&#11810;</b></h1>
                              <h2 class="text-warning  mt-n1 mb-n1 ml-4">Amenez votre copropriété à un autre niveau</h2>
                              <h1 class="text-white text-right"><b>&#11813;</b></h1>
                              <h5 class="text-white ml-4 mr-5">La plateforme de gestion CondoFix agit comme mémoire collective pour
                                  vos activités de gestion et d’entretien tout en étant conforme aux exigences de la loi 16.</h5>
                              <a class="btn btn-primary btn-rounded ml-4 mt-3 mb-car" role="button" href="{{ url_for('bp_public.produits') }}">Nos produits</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="4000">
                        <div class="row align-items-center">
                            <div class="col-4 text-center">
                                <img src="../static/images_publiques/Ouvrier.png" alt="First slide">
                            </div>
                            <div class="col-8 mt-car">
                              <h1 class="text-white m-n3"><b>&#11810;</b></h1>
                              <h2 class="text-warning  mt-n1 mb-n1 ml-4">Automatisez la gestion des interventions</h2>
                              <h1 class="text-white text-right"><b>&#11813;</b></h1>
                              <h5 class="text-white ml-4 mr-5">Les interventions prévues au carnet d’entretien et au fonds
                                  de prévoyance sont automatiquement signalées aux administrateurs afin d’assurer la pérennité de l’immeuble.</h5>
                              <a class="btn btn-warning btn-rounded ml-4 mt-3 mb-car" role="button" href="{{ url_for('bp_public.demo') }}">Essai gratuit</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="6000">
                        <div class="row align-items-center">
                            <div class="col-4 text-center">
                                <img src="../static/images_publiques/Processus OCR.png" alt="Third slide">
                            </div>
                            <div class="col-8 mt-car">
                              <h1 class="text-white m-n3"><b>&#11810;</b></h1>
                              <h2 class="text-warning  mt-n1 mb-n1 ml-4">Accélérez la saisie des factures</h2>
                              <h1 class="text-white text-right"><b>&#11813;</b></h1>
                              <h5 class="text-white ml-4 mr-5">Avec la fonctionnalité OCR de CondoFix, vous pouvez maintenant photographier
                                  vos factures et enregistrer automatiquement les données courantes sur la plateforme (Mai 2023).</h5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="8000">
                        <div class="row align-items-center">
                            <div class="col-4 text-center">
                                <img src="../static/images_publiques/Processus OCR.png" alt="Third slide">
                            </div>
                            <div class="col-8 mt-car">
                              <h1 class="text-white m-n3"><b>&#11810;</b></h1>
                              <h2 class="text-warning  mt-n1 mb-n1 ml-4">Accélérez la saisie des factures</h2>
                              <h1 class="text-white text-right"><b>&#11813;</b></h1>
                              <h5 class="text-white ml-4 mr-5">Avec la fonctionnalité OCR de CondoFix, vous pouvez maintenant photographier
                                  vos factures et enregistrer automatiquement les données courantes sur la plateforme (Mai 2023).</h5>
                              <a class="btn btn-danger btn-rounded ml-4 mt-3 mb-car" role="button" href="{{ url_for('bp_public.affiche_video_OCR') }}">OCR en action</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-auto ml-4">
            <a class="h1" href="#carouselExampleControls" role="button" data-slide="next">
                <span>&gt;</span>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-between mt-3">
            <table class="table table-striped small">
              <thead>
                <tr>
                  <th scope="col"><b>FONCTIONNALITÉ</b></th>
                  <th class= scope="col"><b>DESCRIPTION</b></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Gestion de tickets</th>
                  <td>Suivre les activités d'entretien depuis la création d'un ticket jusqu'à la réception de la facture.</td>
                </tr>
                <tr>
                  <th scope="row">Calendrier d'entretien</th>
                  <td>Planifier les interventions du carnet d'entretien et générer les tickets automatiquement au moment voulu.</td>
                </tr>
                <tr>
                  <th scope="row">Tableau de bord</th>
                  <td>Afficher l'état d'avancement des tickets, les dépenses par catégorie, la situation budgétaire et davantage.</td>
                </tr>
                <tr>
                  <th scope="row">Documentation</th>
                  <td>Afficher tous les documents touchant la copropriété tels que contrats, rapports, procès verbaux et autres.</td>
                </tr>
                <tr>
                  <th scope="row">Gestion des équipements</th>
                  <td>Inventorier tous les équipements de l'immeuble afin de pouvoir leur attribuer les entretiens et évaluer leur état.</td>
                </tr>
                <tr>
                  <th scope="row">Gestion des intervenants</th>
                  <td>Connaître en tout temps l'état des travaux confiés aux employés et aux fournisseurs.</td>
               </tr>
                <tr>
                  <th scope="row">Budget d'entretien</th>
                  <td>Suivre en temps réel l'évolution des dépenses d'entretien par catégorie par rapport au budget annuel.</td>
                </tr>
                <tr>
                  <th scope="row">Factures d'entretien</th>
                  <td>Répertorier toutes les factures touchant l'entretien de l'immeuble et les exporter au grand livre comptable.</td>
               </tr>
               <tr>
                  <th scope="row">Signalements</th>
                  <td>Les copropriétaires peuvent transmettre aux administrateurs les demandes pour l'entretien ou autre service.</td>
               </tr>
                <tr>
                  <th scope="row">Contacts</th>
                  <td>Afficher un bottin de contacts aux copropriétaires (administrateurs, fournisseurs, etc.).</td>
               </tr>
                <tr>
                  <th scope="row">Fonds de prévoyance</th>
                  <td>Connaître et diffuser l'état actuel du fonds et l'impact de l'inflation réelle sur les projections de l'analyse du fonds.</td>
               </tr>
               <tr>
                  <th scope="row">Réservations (optionnel)</th>
                  <td>Offrir aux copropriétaires un outil permettant de réserver en ligne les salles et les équipements de l'immeuble.</td>
                </tr>

              </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3" style="padding: 10px; border: 1px solid black;">
                <p><b>Comparez CondoFix avec d'autres fournisseurs de logiciel:</b></p>
                <style>
                .image {
                display: inline-block;
                }

                </style>

                <!-- Begin SF Tag -->
                <div class="sf-root" data-id="3526123" data-badge="customers-love-us-white" data-variant-id="sf" style="width:125px; display: inline-block;">
                    <a href="https://sourceforge.net/software/product/CondoFix/" target="_blank">CondoFix Reviews</a>
                </div>
                <script>(function () {var sc=document.createElement('script');sc.async=true;sc.src='https://b.sf-syn.com/badge_js?sf_id=3526123&variant_id=sf';var p=document.getElementsByTagName('script')[0];p.parentNode.insertBefore(sc, p);})();
                </script>
                <!-- End SF Tag -->
                <a href="https://www.capterra.com/p/237116/CondoFix/">
                <img  class="img-fluid inline-block" style="display: inline-block" src="../static/images_publiques/Capterra_logo.png">
                </a>
            </div>
        </div>
        <a class="btn btn-primary btn-rounded my-4" role="button" href="{{ url_for('bp_public.demande_info') }}">En savoir plus</a>
    </div>
</div>
</body>
{% endblock content %}