<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fonctionnement de la plateforme CondoFix (vidéo)</title>
     <!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <video width="800" height="450" controls>
              <source src="../static/images_publiques/VideoSurvol-2.mov" type="video/mp4">
            </video>
        </div>
    </div>
</div>

</body>
</html>