{% extends "layout_admin.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<body>
<script>
function TypeChange() {
    //afficher tous les champs:
  document.getElementById("fourn").style.display = "block";
  document.getElementById("freq").style.display = "block";
  document.getElementById("montant").style.display = "block";
  document.getElementById("date").style.display = "block";

  var x = document.getElementById("doc_type").value;
  if (0<x<5) {
  document.getElementById("freq").style.display = "block";
  document.getElementById("fourn").style.display = "block";
  document.getElementById("montant").style.display = "block";
  document.getElementById("date").style.display = "block";
}
  if (x>=5) {
  document.getElementById("freq").style.display = "none";
  document.getElementById("fourn").style.display = "none";
  document.getElementById("montant").style.display = "none";
  document.getElementById("date").style.display = "none";
}
}
</script>
<div class="list-group">
    <form action="{{ url_for('bp_documentation.doc_ajout') }}" method=post enctype="multipart/form-data" class="form-horizontal" role="form">
        <div class="row">
            <div class="container col-md-6 bg-form-bground p-4 rounded">
                <div class="text-center" >
                    <h4>Nouveau document</h4><h6>(pdf seulement)</h6>
                </div>
                <p class="mb-0"><small>Description</small></p>
                <div class="input-group mb-2">
                   <div class="input-group-prepend bg-white">
                        <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-comment"></i></span>
                   </div>
                   <input type="text" class="form-control border-right-0" name="desc_doc" placeholder="Description"
                          aria-label="desc_doc" autofocus="autofocus" required>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0"><small>Type</small></p>
                        <div class="input-group mb-2 pr-1">
                            <div class="input-group-prepend bg-white">
                                    <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-list"></i></span>
                            </div>
                            <select class="form-control flex-grow-1" name="type_doc" id="doc_type" data-width="100%" onchange="TypeChange();" autofocus="autofocus" required>
                                <option value='' hidden>Choisir..</option>
                                {% for item in liste_types_docs %}
                                <option value="{{ item[0] }}" >{{ item[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <p class="mb-0"><small>Fournisseur</small></p>
                        <div class="input-group mb-2">
                           <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-address-book"></i></span>
                           </div>
                           <input type="text" class="form-control border-right-0" name="fournisseur" id="fourn" placeholder="Fournisseur"
                                  aria-label="fournisseur" autofocus="autofocus">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0"><small>Fréquence</small></p>
                        <div class="input-group mb-2">
                           <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-clock-o"></i></span>
                           </div>
                           <input type="number" class="form-control border-right-0" name="freq" id="freq" step="0" placeholder="Fréquence (ans)"
                                  aria-label="freq" autofocus="autofocus">
                        </div>
                        <p class="mb-0"><small>Montant $HT</small></p>
                        <div class="input-group mb-2">
                           <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-dollar"></i></span>
                           </div>
                           <input type="number" class="form-control border-right-0" name="montant_HT" id="montant" step="0" placeholder="Montant hors taxes ($)"
                                  aria-label="montant_HT" autofocus="autofocus">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0"><small>Date prochain</small></p>
                        <div class="input-group mb-2">
                           <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-calendar"></i></span>
                           </div>
                           <input type="date" class="form-control border-right-0" name="date_proch" id="date" placeholder="Date du prochain rapport"
                                  aria-label="montant_HT" autofocus="autofocus">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn bg-steel text-white float-right mt-4">Soumettre</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-inline justify-content-between mb-2">
                            <label><b>Téléchargement</b></label>
                            <div class="custom-file">
                                <div style="position:relative;">
                                <input type="file" name="fichier" id="fichier_upload" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
{% endblock content %}