{% extends "layout_admin.html" %}
{% block content %}

<div class="list-group">
  <form action="{{ url_for('bp_factures.facture_modif_post', id_facture=facture_list[0] ) }}" method=post enctype="multipart/form-data" class="form-horizontal" role="form">
            <div class="container col-md-5 bg-form-bground p-4 rounded">
                <div class="text-center mb-4" >
                    <h4 class="text-secondary">Modification de facture</h4>
                </div>
                <input type="hidden" name="id_ticket" value="{{ facture_list[9] }}">
                <input type="hidden" name="TTC_original" value="{{ facture_list[6] }}">
                <input type="hidden" name="mdo_original" value="{{ facture_list[4] }}">
                <input type="hidden" name="mat_original" value="{{ facture_list[5] }}">
                <div class="form-group form-inline justify-content-between">
                    <label><small><b>No. de facture:&nbsp</b>{{ facture_list[1] }}</small></label>
                    <label><small><b>Date saisie:&nbsp</b>{{ facture_list[2] }}</small></label>
                    <label><small><b>Ticket:&nbsp</b>{{ facture_list[9] }}</small></label>
                </div>
                <p class="mb-0"><small>Fournisseur</small></p>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend bg-white">
                            <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-institution"></i></span>
                        </div>
                        <input type="text" class="form-control border-right-0" name="fournisseur" placeholder="Nom du fournisseur sur facture"
                              value="{{ facture_list[3] }}"  aria-label="no_facture" autofocus="autofocus" required>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0"><small>Total avec taxes</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-dollar"></i></span>
                            </div>
                            <input type="number" step="0.01" class="form-control border-right-0" name="total_facture_taxes" placeholder="Total avec taxes ($)"
                                  value="{{ facture_list[6] }}" aria-label="total_facture_taxes" autofocus="autofocus" required>
                        </div>
                    </div>
                </div>
                {% if afficher_MDO_MAT==1 %}
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0"><small>Main d'oeuvre</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-dollar"></i></span>
                            </div>
                            <input type="number" step="0" class="form-control border-right-0" name="mdo" placeholder="Main d'oeuvre"
                                  value="{{ facture_list[4] }}" aria-label="no_facture" autofocus="autofocus" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0"><small>Matériel</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-dollar"></i></span>
                            </div>
                            <input type="number" step="0" class="form-control border-right-0" name="mat" placeholder="Matériel"
                                  value="{{ facture_list[5] }}" aria-label="no_facture" autofocus="autofocus" required>
                        </div>
                    </div>
                </div>
                {% else %}

                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn bg-steel text-white float-right mt-3">Soumettre</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}