{% extends "proprios_layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
    <!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h6>À venir:</h6>
        </div>
        <div class="col-12">
            <h1>Module optionnel de gestion du fonds de prévoyance</h1>
            <p>Vous pourrez dorénavant faire le suivi de vos dépenses réelles par rapport à la plus récente analyse de fonds de prévoyance.<br>
             Ce sera un outil précieux afin de vous permettre de prendre de bonnes décisions touchant le remplacement des composantes de votre immeuble.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img  class="img-fluid" style="margin:0px; padding:0px;" src="../static/Fds_prevoyance_1.png"/>
        </div>
        <div class="col-6">
            <img  class="img-fluid" style="margin:0px; padding:0px;" src="../static/Fds_prevoyance_2.png"/>
        </div>
    </div>
</body>
{% endblock content %}