{% extends "proprios_layout.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Permet le bon layout de la table incluant triage et formatage : -->
    <link rel="stylesheet" href="../static/styles_1.css">
    <!-- Permettre affichage des sous menus du header (contrecarre effet du code 'boite noire' de datatables : -->
    <script src="../static/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
</head>
<body>
<style>
    h4 {
  margin: 1px;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="wrapper">
                <h4>Dépenses prévues par groupe Uniformat II</h4>
                <p><small>En $ actualisés. Survol avec souris pour détail des interventions.</small></p>
                <canvas id="bar-chart" width="500" height="325"></canvas>
            </div>
            <script>
              //console.log({{labels|tojson}});
              //console.log({{values_1|tojson}});
              new Chart(document.getElementById("bar-chart"), {
                  type: 'bar',
                  data: {
                    labels: {{labels|tojson}},
                    datasets: [
                      {
                      label: 'Infrastructures',
                      type: 'bar',
                      backgroundColor: "#caf270",
                      data: {{ values_1|tojson }},
                    }, {
                      label: 'Superstructures et enveloppes',
                      backgroundColor: "#45c490",
                      data: {{ values_2|tojson }},
                    }, {
                      label: 'Aménagements intérieurs',
                      backgroundColor: "#008d93",
                      data: {{ values_3|tojson }},
                    }, {
                      label: 'Services',
                      backgroundColor: "#F8C471",
                      data: {{ values_4|tojson }},
                    }, {
                      label: 'Équipements et ameublement',
                      backgroundColor: "#D35400",
                      data: {{ values_5|tojson }},
                    }, {
                      label: 'Constructions spéciales',
                      backgroundColor: "#EC7063",
                      data: {{ values_6|tojson }},
                    }, {
                      label: 'Terrain',
                      backgroundColor: "#E6B0AA",
                      data: {{ values_7|tojson }},
                    }, {
                      label: 'Autre',
                      backgroundColor: "#B2BEB5",
                      data: {{ values_8|tojson }},
                    }, {
                      label: 'Parties communes usage restreint',
                      backgroundColor: "#bad80a",
                      data: {{ values_9|tojson }},
                    }
                    ]
                  },
                  options: {
                    legend: { display: false },
                    title: {
                      display: false,
                      text: 'blabla'
                    },
                    scales: {
                    xAxes: [{ stacked: true }],
                    yAxes: [{ stacked: true }]
                    },
                    responsive: false
                  }
                  });
            </script>
        </div>
        <div class="col-sm-6">
            <div class="wrapper">
                <h4>Dépenses actuelles et prévues sur 10 ans</h4>
                <p><small>En $ actualisés. Depuis dernière analyse de fonds de prévoyance. Détail avec survol de souris.</small></p>
                <canvas id="hybrid-chart" width="500" height="325"></canvas>
            </div>
            <script>
              //console.log({{labels_1|tojson}});
              //console.log({{dep_grp_1|tojson}});
              new Chart(document.getElementById("hybrid-chart"), {
                  type: 'bar',
                  data: {
                    labels: {{labels_1|tojson}},
                    datasets: [
                      {
                       label: 'Dépenses prévues',
                       borderColor: "#1F618D",
                       data: {{ dep_prevues|tojson }},
                       type: 'line',
                     }, {
                      label: 'Infrastructures',
                      backgroundColor: "#caf270",
                      data: {{ dep_grp_1|tojson }},
                      type: 'bar',
                    }, {
                      label: 'Superstructures et enveloppes',
                      backgroundColor: "#45c490",
                      data: {{ dep_grp_2|tojson }},

                    }, {
                      label: 'Aménagements intérieurs',
                      backgroundColor: "#008d93",
                      data: {{ dep_grp_3|tojson }},

                    }, {
                      label: 'Services',
                      backgroundColor: "#F8C471",
                      data: {{ dep_grp_4|tojson }},

                    }, {
                      label: 'Équipements et ameublement',
                      backgroundColor: "#D35400",
                      data: {{ dep_grp_5|tojson }},

                    }, {
                      label: 'Constructions spéciales',
                      backgroundColor: "#EC7063",
                      data: {{ dep_grp_6|tojson }},

                    }, {
                      label: 'Terrain',
                      backgroundColor: "#E6B0AA",
                      data: {{ dep_grp_7|tojson }},

                    }, {
                      label: 'Autre',
                      backgroundColor: "#B2BEB5",
                      data: {{ dep_grp_8|tojson }},

                    }, {
                      label: 'Parties communes usage restreint',
                      backgroundColor: "#bad80a",
                      data: {{ dep_grp_9|tojson }},
                    }
                    ]
                  },
                  options: {
                    legend: {
                      display: false,

                 },
                    title: {
                      display: false,
                      text: 'blabla'
                    },
                    scales: {
                    xAxes: [{ stacked: true }],
                    yAxes: [{ stacked: true }]
                    },
                    responsive: false
                  }
                  });
            </script>
        </div>
    </div>
</div>
</body>
{% endblock content %}