<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
<!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIconSmall.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top py-0">
        <button class="pull-left navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h4 class="text-warning font-weight-bold ">{{ bd }}&nbsp;&nbsp;</h4>
        <a class="navbar-brand" href="#">
            <img src="../static/ToolsIconSmall.png" alt="Logo" style="padding: 8px;" width="50" height="50">
        </a>
        <a class="btn-sm btn-warning mr-3 mb-1" href="{{ url_for('bp_admin.logout') }}" role="button">Logout</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tickets
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_2">
                        <a class="dropdown-item" href="{{ url_for('bp_tickets.nouveau_ticket') }}">Nouveau ticket</a>
                        <a class="dropdown-item" href="{{ url_for('bp_tickets.en_cours') }}">En cours</a>
                        <a class="dropdown-item" href="{{ url_for('bp_factures.attente_facture') }}">En attente de facture</a>
                        <a class="dropdown-item" href="{{ url_for('bp_tickets.recherche_tickets') }}">Recherche de ticket</a>
                        <a class="dropdown-item" href="{{ url_for('bp_tickets.histo', mode='initialiser') }}">Historique des travaux</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('bp_signalements.signalements_table') }}">Signalements</a>
                        <a class="dropdown-item" href="{{ url_for('bp_factures.factures_table') }}">Factures</a>
                        <a class="dropdown-item" href="{{ url_for('bp_reservations.reservations_table') }}">Réservations</a>
                        <a class="dropdown-item" href="{{ url_for('bp_intervenants.intervenants') }}">Intervenants</a>
                        <a class="dropdown-item" href="{{ url_for('bp_preventif.preventif') }}">Calendrier d'entretien</a>
                        <a class="dropdown-item" href="{{ url_for('bp_categories.categories') }}">Catégories /budget</a>
                        <a class="dropdown-item" href="{{ url_for('bp_contacts.contacts_table_admin') }}">Contacts</a>
                        <a class="dropdown-item" href="{{ url_for('bp_ressources.modes_paiement_table') }}">Modes de paiement</a>
                        <a class="dropdown-item" href="{{ url_for('bp_parametres.achalandage') }}">Achalandage</a>
                        <a class="dropdown-item" href="{{ url_for('bp_parametres.parametres') }}">Paramètres</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bp_tableaux_bord.plotView_js') }}">Tableau de bord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bp_documentation.docs_table') }}">Documentation</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actifs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('bp_equipements.equipements') }}">Équipements</a>
                        <a class="dropdown-item" href="">Inventaire (à venir)</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Fonds de prévoyance
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('bp_fonds_prevoyance.depenses_fdp', usager='admin') }}">Dépenses</a>
                        <a class="dropdown-item" href="{{ url_for('bp_fonds_prevoyance.calcul_solde', args=('base','admin')) }}">Solde du fonds</a>
                        <a class="dropdown-item" href="{{ url_for('bp_fonds_prevoyance.interventions_table') }}">Interventions</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Aide
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('bp_admin.aide') }}" target="_blank">Documentation</a>
                        <a class="dropdown-item" href="{{ url_for('bp_admin.videos') }}" target="_blank">Capsule vidéo OCR</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main role="main" class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            {% block content %}
            <!--                content of each template is inserted here-->
            {% endblock %}
        </div>
    </div>
</main>
</body>
</html>
<!-- JQuery et JavaScript pour que les menus fonctionnent -->
<script src="../static/jquery-3.5.1.js"></script>
<script src="../static/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>

