<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
<!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top py-0">
        <button class="pull-left navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h4 class="text-warning font-weight-bold ">{{ bd }}&nbsp;&nbsp;</h4>
        <a class="navbar-brand" href="#">
            <img src="../static/ToolsIcon.png" alt="Logo" style="padding: 8px;" width="50" height="50">
        </a>
    </nav>
</header>
<div class="container md-12">
    <h3>Vous n'avez pas accès à cette fonctionnalité!</h3>
    <a class="btn btn-primary btn-rounded text-white"  onclick="javascript:history.back()">Continuer</a>
</div>
</body>
