{% extends "layout_admin.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<script>
//pour permettre le choix d'aucun tag
function hide_tag() {
    if (document.getElementById("tag_select").style.display == 'none') {
        (document.getElementById("tag_select").style.display = 'block');
    } else {
        document.getElementById("tag_select").style.display = 'none';

    }
}

//formater liste à partir de JSON
var categ_listing=JSON.parse('{{ list_categ_avec_tags|safe }}');
var equip_listing=JSON.parse({{ list_equip|tojson}});

function intervenantChange() {

// valeur de l'option choisie
var x = document.getElementById("intervenant_select").value;
var a = x.replace('(','');
var b = a.replace(')','')
var z = b.split(',');

//sélection de la catégorie parmi la liste déroulante
document.getElementById("categ_select").value = new Number(z[1]);

//trouver index de la catégorie choisie
var idx=categ_listing.findIndex(function (element) {
    return element == z[1];
});
//créer la liste des équipements pour la catégorie correspondante à l'intervenant
cList = equip_listing[idx];
// get the tag select element via its known id
var cSelect = document.getElementById("tag_select");
// remove the current options from the tag select
var len=cSelect.options.length;
while (cSelect.options.length > 0) {
cSelect.remove(0);
}
var newOption;
// create new options
for (var i=0; i<cList.length; i++) {
newOption = document.createElement("option");
newOption.value = cList[i][0];  // assumes option string and value are the same
newOption.text=cList[i];
// add the new option
try {
cSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE
}
catch (e) {
cSelect.appendChild(newOption);
}
}
}

function categoryChange() {

// valeur de l'option choisie
var x = document.getElementById("categ_select").value;
//trouver index de la catégorie choisie
var idx=categ_listing.findIndex(function (element) {
    return element ==x;
});
//créer la liste des équipements pour la catégorie choisie
cList = equip_listing[idx];
// get the tag select element via its known id
var cSelect = document.getElementById("tag_select");
// remove the current options from the tag select
var len=cSelect.options.length;
while (cSelect.options.length > 0) {
cSelect.remove(0);
}
var newOption;
// create new options
for (var i=0; i<cList.length; i++) {
newOption = document.createElement("option");
newOption.value = cList[i][0];  // assumes option string and value are the same
newOption.text=cList[i];
// add the new option
try {
cSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE
}
catch (e) {
cSelect.appendChild(newOption);
}
}
}
</script>
<body>
<div class="list-group">
    <form action="{{ url_for('bp_preventif.preventif_ajout') }}" method=post class="form-horizontal" role="form">
        <div class="row">
            <div class="container col-md-8 bg-form-bground p-4 rounded">
                <div class="text-center mb-3" >
                    <h4 class="text-secondary">Nouvel entretien planifié</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0"><small>Intervenant</small></p>
                        <div class="input-group mb-2 pr-1">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-list"></i></span>
                            </div>
                            <select class="form-control flex-grow-1" name="ident_intervenant" id="intervenant_select" onchange="intervenantChange();"
                                    data-width="100%" autofocus="autofocus" required>
                            <option hidden value="">Choisir..</option>
                            {% for item in liste_intervenants %}
                            <option value="{{ item[0],item[2] }}">{{ item[1] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0"><small>Prochain entretien (1er du mois)</small></p>
                        <div class="input-group mb-2">
                               <div class="input-group-prepend bg-white">
                                    <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-calendar"></i></span>
                               </div>
                               <input type="date" class="form-control border-right-0" name="date_proch"
                                      aria-label="date_proch" autofocus="autofocus" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0"><small>Catégorie</small></p>
                        <div class="input-group mb-2 pr-1">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-list"></i></span>
                            </div>
                            <select class="form-control flex-grow-1" name="ident_categ" id="categ_select" onchange="categoryChange();" data-width="100%" autofocus="autofocus" required>
                            <option hidden value="">Choisir..</option>
                            {% for item in liste_categories %}
                            <option value="{{ item[0] }}">{{ item[1] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if version==1 %}
                    <div class="col-md-6">
                        <p class="mb-0"><small>Tag</small></p>
                        <div class="input-group mb-2 pr-1">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-list"></i></span>
                            </div>
                            <select class="form-control flex-grow-1" name="tag" id="tag_select"  data-width="100%" autofocus="autofocus">
                            <option hidden value=""></option>
                            </select>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" onchange="hide_tag();" name="aucun_tag" value="1" id="no_tag">
                            <label class="form-check-label" for="aucun_tag">Aucun tag</label>
                        </div>
                    </div>
                    {% else %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0"><small>Type de travail</small></p>
                        <div class="input-group mb-2 pr-1">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-list"></i></span>
                            </div>
                            <select class="form-control flex-grow-1" id="type_select" name="type_travail" data-width="100%" autofocus="autofocus" required>
                            <option hidden value="">Choisir..</option>
                            <option value="1">Entretien et réparations</option>
                            <option value="2">Fonds de prévoyance</option>
                            <option value="3">Préventif</option>
                            </select>
                        </div>
                        <p class="mb-0"><small>Emplacement</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-map-marker"></i></span>
                            </div>
                            <input type="text" class="form-control border-right-0" name="emplacement" placeholder="Lieu du travail"
                                  aria-label="emplacement" autofocus="autofocus" required>
                        </div>
                        <p class="mb-0"><small>Référence</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-comment"></i></span>
                            </div>
                            <input type="text" class="form-control border-right-0" name="reference" placeholder="Exemple: numéro carnet d'entretien"
                                  aria-label="reference" autofocus="autofocus">
                        </div>
                        <p class="mb-0"><small>Heures estimées</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-clock-o"></i></span>
                            </div>
                            <input type="number" step="0.5" class="form-control border-right-0" name="hres_est" placeholder="Nombre d'heures estimées"
                                  aria-label="hres_est" autofocus="autofocus" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0"><small>Fréquence (années)</small></p>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-clock-o"></i></span>
                            </div>
                            <input type="number" step="1" class="form-control border-right-0" name="freq" placeholder="Fréquence en années"
                                  aria-label="freq" autofocus="autofocus" required>
                        </div>
                        <div class="control-group">
                            <div class="controls span2">
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Janv"> Janvier
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Fev"> Février
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Mars"> Mars
                                </label>
                            </div>
                            <div class="controls span2">
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Avril"> Avril
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Mai"> Mai
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Juin"> Juin
                                </label>
                            </div>
                            <div class="controls span2">
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Juil"> Juillet
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Aout"> Août
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Sept"> Septembre
                                </label>
                            </div>
                            <div class="controls span2">
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Oct"> Octobre
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Nov"> Novembre
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value=Null name="Dec"> Décembre
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="mb-0"><small>Description</small></p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-comment"></i></span>
                            </div>
                            <textarea class="form-control border-right-0" maxlength="200" name="description" rows="3"
                                      placeholder="Description du travail prévu" aria-label="description" autofocus="autofocus" required></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn bg-steel text-white float-right mb-2">Soumettre</button>
            </div>
    </form>
</div>
</body>

{% endblock content %}