<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
<!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top py-0">
        <button class="pull-left navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h4 class="text-warning font-weight-bold ">{{ bd }}&nbsp;&nbsp;</h4>
        <a class="navbar-brand" href="#">
            <img src="../static/ToolsIconSmall.png" alt="Logo" style="padding: 8px;" width="50" height="50">
        </a>
        <a class="btn-sm btn-warning mr-3" href="{{ url_for('bp_admin.logout') }}" role="button">Logout</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bp_tableaux_bord.budget_proprios') }}">Budget</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bp_documentation.docs_table_proprios') }}">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bp_reservations.calendrier_rez',usager='proprio') }}">Réservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bp_signalements.fiche_signalement') }}">Signalement</a>
                </li>
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Fonds de prévoyance
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('bp_fonds_prevoyance.depenses_fdp', usager='coproprios') }}">Dépenses</a>
                        <a class="dropdown-item" href="{{ url_for('bp_fonds_prevoyance.calcul_solde', args=('base','coproprios')) }}">Solde du fonds</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bp_contacts.contacts_table_proprios') }}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bp_admin.aide') }}" target="_blank">Aide</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
<main role="main" class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            {% block content %}
            <!--                content of each template is inserted here-->
            {% endblock %}
        </div>
    </div>
</main>
</html>


