{% extends "proprios_layout.html" %}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../static/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<head>
    <script>
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
    </script>
</head>
<body>
<div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
                <form action="{{ url_for('bp_reservations.calendrier_rez', usager='proprio') }}" method=get class="form-horizontal" role="form">
				<div class="modal-body">
                    <p style="white-space:pre-wrap;"><small>{{ message_rez}}</small></p>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-secondary">Refuser</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Accepter</button>
				</div>
                </form>
			</div>
		</div>
	</div>
<div class="list-group">
    <form action="{{ url_for('bp_reservations.reservation_ajout_proprio') }}" method=post class="form-horizontal" role="form">
        <div class="row">
            <div class="container col-md-6 bg-form-bground p-4 rounded">
                <div class="text-center mb-3" >
                    <h4 class="text-secondary">Nouvelle réservation</h4>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p class="mb-0"><small>Ressource</small></p>
                        <div class="input-group mb-2 pr-1">
                               <input class="form-control form-control-sm" type="number" hidden value="{{ id_ress }}" id="ident_ress" name="ident_ress" required>
                               <label for="ressource_desc"><b>{{ desc_ressource }}</b></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="mb-0"><small>Numéro d'unité privative</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-hashtag"></i></span>
                            </div>
                            <input type="number" step="1" class="form-control border-right-0" name="no_unite" placeholder="Numéro"
                                  aria-label="no_unite" autofocus="autofocus" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p class="mb-0"><small>Date</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="date" class="form-control border-right-0" name="date_rez" id="date" placeholder="Date voulue"
                                  value="{{ date }}" aria-label="codeGL" autofocus="autofocus" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="mb-0"><small>Heure</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-clock-o"></i></span>
                            </div>
                            <input type="time" class="form-control border-right-0" id="time" name="heure_rez" placeholder="Budget annuel"
                                   value="{{ heure }}" aria-label="budget" autofocus="autofocus" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p class="mb-0"><small>Durée</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-clock-o"></i></span>
                            </div>
                            <input type="number" step="0.5" class="form-control border-right-0" name="duree_rez" placeholder="Durée en heures"
                                  value="{{ duree }}" aria-label="duree_rez" autofocus="autofocus" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="mb-0"><small>Jours consécutifs</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="number" step="1" class="form-control border-right-0" name="jrs_consecutifs" value="1"
                                  aria-label="jours_consecutifs" autofocus="autofocus" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="mb-0"><small>Notes</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-comment"></i></span>
                            </div>
                            <textarea class="form-control border-right-0" maxlength="200" name="note" rows="3"
                                      placeholder="Notes applicables à la réservation" aria-label="note" autofocus="autofocus"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="mb-0"><small><b>Pour ressources facturables seulement:</b></small></p>
                        <p class="mb-0"><small>Courriel</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control border-right-0" name="courriel" placeholder="Votre adresse courriel"
                                  aria-label="courriel" autofocus="autofocus">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="mb-0"><small>Mode de paiement</small></p>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend bg-white">
                                <span class="input-group-text border-left-0 rounded-right bg-white"><i class="fa fa-dollar"></i></span>
                            </div>
                            <select class="form-control flex-grow-1" data-width="100" id="mode_select" name="mode_paiement" autofocus="autofocus">
                                <option hidden value="">Choisir..</option>
                                {% for item in fill_modes_paiement %}
                                <option value="{{ item[0] }}">{{ item[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-outline-dark bg-steel text-black float-right mt-2 mb-1">Soumettre</button>
            </div>
        </div>
    </form>
</div>
</body>
{% endblock content %}