<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
L'article 1039 du Code civil du Québec statue que le syndicat de copropriété a pour objet:
la conservation de l’immeuble,
l’entretien et l’administration des parties communes,
la sauvegarde des droits afférents à l’immeuble ou à la copropriété,
ainsi que toutes les opérations d’intérêt commun.

Il doit notamment veiller à ce que les travaux nécessaires à
la conservation et à l’entretien de l’immeuble soient effectués.


Limites du système comptable

Surtout un constat après les faits
Pas de forage de données
Suivi d'entretien par équipement difficile
Analysé plus de 2 semaines après la fin du mois
Peu de planification d'entretien possible
</body>
</html>