{% extends "-public_layout_new.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
    <!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
</head>    <meta charset="UTF-8">
    <title>CondoFix</title>
</head>
<body>
<style>
    .container{
    margin-bottom:400px;
}
</style>
<div class="container">
    <h3>Votre session de CondoFix a expirée!</h3>
    <h4>Cliquez sur 'Login' pour accéder de nouveau à CondoFix.</h4>
</div>

</body>
{% endblock content %}