{% extends "layout_admin.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CondoFix</title>
    <!--    icone sur onglet-->
    <link rel="icon" href="../static/ToolsIcon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles_1.css">
</head>    <meta charset="UTF-8">
    <title>CondoFix</title>
</head>
<body>
<h3>Ce ticket ne peut pas être complété!</h3>
<br>
<h4>Vous devez saisir les heures estimées et elles doivent être plus grandes que '0'.</h4>
</body>
{% endblock content %}